

.main-header {
    display: block;
    padding: 16px;
}

.content {
    position: relative;
}

/*Language switch buttons*/
.lang-button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 3em;
    padding: 0 13px;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: rgba(0, 0, 0, 0.3);
    color: antiquewhite;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 0.7em;

}

.lang-button:hover {
    background: #e8e8e8;
    color: #3d3d3d;
}

.lang-button-block {
    position: absolute;
    top: 5%;
    right: 5%;
}

.logout-button-block {
    position: absolute;
    top: 5%;
    left: 5%;
}